*.DS_Store
env/
.env
/Evaluation_datasets
/pretrain_weight
__pycache__/
*.pyc
/panderm_modifications/**/*.[Pp][Nn][Gg]
/panderm_modifications/**/*.[Jj][Pp][Gg]
/panderm_modifications/**/*.[Jj][Pp][Ee][Gg]
/panderm_modifications/**/*.[Gg][Ii][Ff]
/panderm_modifications/**/*.[Bb][Mm][Pp]
/panderm_modifications/**/*.[Tt][Ii][Ff]
/panderm_modifications/**/*.[Tt][Ii][Ff][Ff]
/panderm_modifications/**/*.[Ww][Ee][Bb][Pp]
/panderm_modifications/**/*.[Ss][Vv][Gg]
/panderm_modifications/**/*.[Hh][Ee][Ii][Cc]
classification/wandb
wandb/
output/